<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH\:mm\:ss,SSS} [%C]-[%p] %m%n"/>
        </layout>
    </appender>

    <logger name="org.hellojavaer.ddr.sql" additivity="false">
        <!-- if the value of 'value' is 'trace', target sql and sql parameter will be printed out -->
        <priority value="error"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.hellojavaer.ddr.ds" additivity="false">
        <!-- if the value of 'value' is 'trace', target datasource will be printed out -->
        <priority value="info"/>
        <appender-ref ref="console"/>
    </logger>

    <root additivity="false">
        <priority value="error"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
